/*global*/
:root{
    --primary: rgb(182, 92, 19);
    --secondary: rgb(16, 139, 16);
}
html{
    font-size: 62.5%;
}
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: arial;
}
a{
    text-decoration: none;
    color: white;
}
img{
    max-width: 100%;
}
h2{
    text-align: center;
    margin: 1rem;
    font-size: 2.4rem;
}
p{
    font-size: 1.6rem;
    line-height: 1.5;;
}

/*utilities*/
.flex-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10rem;
}
.flex-header-v{
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    align-items: center;
    height: 35vh;
}
.container{
    width: 80%;
    margin: 0 auto;

}
.btn{
    display: block;
    font-size: 16px;
    background-color: var(--primary);
    padding: 1rem;
    text-align: center;
    margin: 1rem 0;
}
@media(max-width:768px){
    .flex-header{
        flex-direction: column;
    }
    .flex-header-v{
        height: 20vh;
        text-align: center;
    }
    
}
/*header*/
.site-init{
    background-image: url(./img/header.jpg);
    height: 40vh;
    background-size: cover;
    color: white;
}
.menu a{
    margin-right: 2rem;

}
.site-init p{
    font-size: 2rem;
}
.site-second{
    background-color: #222222;
    color: white;
}
@media(max-width:768px){
    .site-init{
        height: 22vh;
    }
    .site-init p{
        font-size: 1.5rem;
    }
}

/*about us*/
.flex-about{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.flex-about-social{

}

@media(max-width:768px){
    .flex-about{
        flex-direction: column;
    }
}

/*house-items*/
.flex-house-item{
    display: flex;
    justify-content: center;
    gap: 5rem;
}
.house-item{
    background-color: #dedede;
    width: 40rem;
}
.house-item-text{
    font-size: medium;
}
.price{
    color:var(--secondary);
    font-weight: bold;
}
.flex-houses{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-house-icons{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.flex-house-icons li{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.flex-house-icons img, p{
    margin-right: 20px;
}
/*contact form*/
fieldset{
    padding: 1rem;
}
legend, label, input{
    font-size: 1.6rem;
}
.input-container{
    margin: 1rem;
}
.input-container input,
.input-container textarea{
    width: 100%;
    background-color: #dedede;
    border: none;
    padding: .5rem;
    border-radius: 1rem;
}
.input-container label{
    display: inline-block;
    width: 2rem;
    text-align: right;
    margin-right: 1rem;
}
.btn{
    background-color:black;
}

/*blog*/
.instagram-icon{
    
}